version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev:
        patterns:
          - "prek"
          - "ruff"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pre-commit"
    directory: "/"
    schedule:
      interval: "weekly"
