repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args:
          - --fix
        files: ^((python_scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((python_scripts)/.+)?[^/]+\.py$
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args:
          - --no-sort-keys
          - --indent=4
          - --autofix
