name: HACS Action

permissions:
  contents: read

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: "actions/checkout@v6"
        with:
          fetch-depth: 2

      - name: HACS Action
        uses: hacs/action@22.5.0
        with:
          category: "python_script"
