name: Push

on: [push]

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check with Black Code Formatter
      run: |
        pip install black
        black custom_components/airly -t py38 --check
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors, unused imports or undefined names
        flake8 custom_components/airly --count --select=E9,F63,F7,F82,F401 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 89 chars wide
        flake8 custom_components/airly --count --exit-zero --max-complexity=10 --max-line-length=89 --statistics
