name: Release

on:
  release:
    types: [published]

jobs:
  release_zip_file:
    name: Prepare release asset
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set package version
        run: |
          version="${{ github.event.release.tag_name }}"
          cd "${{ github.workspace }}/python_scripts"
          sed -i "s/^VERSION = \".*\"/VERSION = \"${version}\"/" shellies_discovery.py

      - name: ZIP files
        run: |
          cd "${{ github.workspace }}/python_scripts"
          zip shellies-discovery.zip -r ./

      - name: Upload zip to release
        uses: svenstaro/upload-release-action@2.11.2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "${{ github.workspace }}/python_scripts/shellies-discovery.zip"
          asset_name: shellies-discovery.zip
          tag: ${{ github.ref }}
          overwrite: true
